<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<!-- start container div -->
<div class="container">

	<!-- start jumbotron -->
	<div class="jumbotron centering text-center">
			<h1><span class="glyphicon glyphicon-cutlery"></span> Restaurant POS System</h1>
			<hr>
			<h3>Place your order below.</h3>
			<br>
			<a href="/kitchen"><button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-align-justify"></span> Kitchen View</button></a>
	
	<!-- end jumbotron -->
	</div>
	
	<!-- start form row -->
	<div class="row">
		<!-- start form column div -->
		<div class="col-lg-6 col-lg-offset-3">
			<div class="panel panel-default">
  				<div class="panel-heading">
    				<h3 class="panel-title">Enter Order</h3>
  				</div>
  				<div class="panel-body">
  					<!-- start table input -->
    				<div class="input-group">
  						<span class="input-group-addon" id="basic-addon1">Table #</span>
  						<input id="table-input" type="number" class="form-control" placeholder="Table #" aria-describedby="basic-addon1">
					</div>
					<br>
					<!-- start order input -->
    				<!-- <div class="input-group">
  						<span class="input-group-addon" id="basic-addon1">Order</span>
  						<input type="text" id="food" class="form-control" placeholder="Order" aria-describedby="basic-addon1">
  			
					</div> -->
					<br>
					<div id="order-well">
					</div>
					<!-- start add-order button div -->
					<div>
						<button id="add-order" type="button" class="btn btn-default">+ Order</button>
					</div>
					<br>
					<!-- start server input -->
    				<div class="input-group">
  						<span class="input-group-addon" id="basic-addon1">Server #</span>
  						<input type="number" id="server-number" class="form-control" placeholder="Server #" aria-describedby="basic-addon1">
					</div>
					<br>
					<!-- start notes input -->
    				<div class="input-group">
  						<span class="input-group-addon" id="basic-addon1">Notes</span>
  						<input type="text" id="notes" class="form-control" placeholder="Notes" aria-describedby="basic-addon1">
					</div>
					<br>
					<div>
						<button id="submit-order" type="button" class="btn btn-default">Submit</button>
					</div>
				<!-- end form div -->
  				</div>
			</div>
		<!-- end form column div -->
		</div>	
	<!-- end form row -->
	</div>





<!--end of container div  -->
</div>

</body>

<script>


// var foodItems = $(".order").val().trim();

// orderItems.push(foodItems);

//function listening for '+ Order' button to be clicked
$("#add-order").on("click", function(){

console.log("button responding");
	
var newOrder = $("<div>");
	newOrder.addClass("input-group");
var newOrderSpan = $("<span>Order</span>");
	newOrderSpan.addClass("input-group-addon");
	newOrderSpan.attr("id", "basic-addon1");
var newOrderInput = $("<input>");
	newOrderInput.addClass("form-control food");
	newOrderInput.attr("type", "text");
	newOrderInput.attr("placeholder", "Order");
	newOrderInput.attr("aria-describedby", "basic-addon1");
var orderBreak = $("<br>");


newOrder.prepend(newOrderSpan);
newOrder.append(newOrderInput);

$("#order-well").append(newOrder);
$("#order-well").append(orderBreak);

});	

$(".food").each(function(i){

	$(this).attr("id", "food-item" + (i + 1));

});

//API Post to SQL DB using data from input fields when submit is clicked

$("#submit-order").on("click", function(){

	event.preventDefault();

	var foodItems = [];

	$(".food").each(function(i){

		// $(this).attr("id", "food-item" + i);

		foodItems.push($(this).val());
		

	});//end 

	var Order = {

				table: $("#table-input").val().trim(),
				food: foodItems,
				server: $("#server-number").val().trim(),
				notes: $("#notes").val(),
				};

	$.post("/api/order-add", Order)
	 .done(function(data){

	 	console.log("request complete: ",data);
	 });


	console.log("button working");
	console.log(Order);
	
});

</script>






</html>